<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>相册管理</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="__CSS__xadmin.css">
    <link rel="stylesheet" href="__CSS__layuiadmin/admin.css" media="all">
    <link rel="stylesheet" href="__CSS__layuiadmin/template.css" media="all">
    <style type="text/css">
        .layui-fluid {padding: 10px 6px 10px;}
        .layui-upload-img{width: 100px; max-height: 120px; margin: 0 10px 10px 0;}
        .img-list-wrap {overflow: hidden;}
        .img-list-wrap li{width: 120px; height: 90px;margin:5px;line-height: 90px;position: relative;border: 1px solid #9d9d9d;overflow: hidden;float: left;}
        .img-list-wrap li img {width: 100%;max-height: 100%;}
        .img-list-wrap li .img_progress {width: 100%;height: 3px;position: absolute;bottom: 0;left: 0; background: #dddddd;}
        .img-list-wrap li .img_progress i {display: inline-block;height: 100%;background: #5FB878;float: left;overflow: hidden;transition: width 0.3s;
            -moz-transition: width 0.3s;	/* Firefox 4 */
            -webkit-transition: width 0.3s;	/* Safari 和 Chrome */
            -o-transition: width 0.3s;	/* Opera */
        }
    </style>
</head>
<body>
<div class="x-nav">
    <span class="layui-breadcrumb" style="visibility: visible;">
        <a href="">首页</a><span lay-separator="">/</span>
        <a href="">演示</a><span lay-separator="">/</span>
        <a><cite>导航元素</cite></a>
    </span>
    <a class="layui-btn layui-btn-small btn_refresh" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:38px">&#xe9aa;</i>
    </a>
</div>

<div class="x-body">
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">

            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">指定允许上传的文件类型</div>
                    <div class="layui-card-body">
                        <button type="button" class="layui-btn" id="upload-img"><i class="layui-icon">&#xe67c;</i>上传文件</button>
                        <!--<input class="layui-upload-file" type="file" accept="image/*" name="file_img">-->

                        <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                            预览图：
                            <div class="layui-upload-list" id="upload-img-list">
                                <ul class="img-list-wrap"></ul>
                            </div>

                        </blockquote>
                        <button type="button" class="layui-btn" id="upload-img-btn">开始上传</button>
                    </div>
                </div>
            </div>

           <!-- <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">高级应用：制作一个多文件列表</div>
                    <div class="layui-card-body">
                        <div class="layui-upload">
                            <button type="button" class="layui-btn layui-btn-normal" id="upload-testList">选择多文件</button>
                            <input class="layui-upload-file" type="file" accept="undefined" name="file_img_more" multiple="">
                            <div class="layui-upload-list">
                                <table class="layui-table">
                                    <thead>
                                    <tr><th>文件名</th>
                                        <th>大小</th>
                                        <th>状态</th>
                                        <th>操作</th>
                                    </tr></thead>
                                    <tbody id="test-upload-demoList"></tbody>
                                </table>
                            </div>
                            <button type="button" class="layui-btn" id="upload-testListAction">开始上传</button>
                        </div>
                    </div>
                </div>
            </div>-->

            <!--<div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">上传多张图片</div>
                    <div class="layui-card-body">
                        <div class="layui-upload">
                            <button type="button" class="layui-btn" id="upload-more">多图片上传</button>
                            <input class="layui-upload-file" type="file" accept="undefined" name="file" multiple="">
                            <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                                预览图：
                                <div class="layui-upload-list" id="upload-more-list"></div>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>-->

            <!--<div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">普通图片上传</div>
                    <div class="layui-card-body">
                        <div class="layui-upload">
                            <button type="button" class="layui-btn" id="test-upload-normal">上传图片</button><input class="layui-upload-file" type="file" accept="undefined" name="file">
                            <div class="layui-upload-list">
                                <img class="layui-upload-img" id="test-upload-normal-img">
                                <p id="test-upload-demoText"></p>
                            </div>
                        </div>
                        <blockquote class="layui-elem-quote">
                            为节省服务器开销，以下示例均未配置真实上传接口，所以每次上传都会报提示：请求上传接口出现异常，这属于正常现象。
                        </blockquote>
                    </div>
                </div>
            </div>-->

            <!--<div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">设定文件大小限制</div>
                    <div class="layui-card-body">
                        <button type="button" class="layui-btn layui-btn-danger" id="test-upload-size">
                            <i class="layui-icon"></i>上传图片
                        </button><input class="layui-upload-file" type="file" accept="undefined" name="file">
                        <div class="layui-inline layui-word-aux">
                            这里以限制 60KB 为例
                        </div>
                    </div>
                </div>
            </div>-->

            <!--<div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">同时绑定多个元素，并将属性设定在元素上</div>
                    <div class="layui-card-body">
                        <button class="layui-btn test-upload-demoMore" lay-data="{url: '/a/'}">上传A</button><input class="layui-upload-file" type="file" accept="undefined" name="file">
                        <button class="layui-btn test-upload-demoMore" lay-data="{url: '/b/', size:5}">上传B</button><input class="layui-upload-file" type="file" accept="undefined" name="file">
                        <button class="layui-btn test-upload-demoMore" lay-data="{url: '/c/', accept: 'file',size:10}">上传C</button><input class="layui-upload-file" type="file" accept="undefined" name="file">
                    </div>
                </div>
            </div>-->
        </div>
    </div>
</div>
<script src="__JS__jquery.min.js"></script>
<script src="__LIBRARY__layui-v2.5.5/layui.js"></script>
<script type="text/javascript" src="__JS__xadmin.js"></script>
<script type="text/javascript" src="__JS__cos/cos-js-sdk-v5.min.js"></script>
<!--<script type="text/javascript" src="__JS__cos/base.js"></script>-->
<script type="text/javascript" src="__JS__cos/cos-action.js"></script>
<script>
    layui.use(['layer','upload','element'], function(){
        var layer = layui.layer, upload = layui.upload, element = layui.element;

        /*上传必需参数*/
        var config = {
            Bucket: "common-img-1255561412",
            Region: "ap-beijing",
            StsUrl: "{:url('Cos/StsSign')}?bucket_name=common-img-1255561412"
        };


        //上传图片（单张）
        upload.render({
            elem: '#upload-img'
            ,url: '/upload/'
            ,multiple: true
            ,accept: 'images' //允许上传的文件类型
            ,exts: 'jpg|png|gif|bmp|jpeg'
            ,auto: false  //是否自动上传
            ,bindAction: '#upload-img-btn'
            ,size: 99048 //最大允许上传的文件大小(KB)
            ,choose: function(obj){
                //将每次选择的文件追加到文件队列
                var files = obj.pushFile();
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    var html = '<li class="img_'+index+'"><img src="'+ result +'" alt="'+ file.name +'" class="layui-upload-img" onclick="previewImg(this)"/><div class="img_progress"><i></i></div></li>';
                    $('#upload-img-list ul').append(html);
                });
            }
            ,before: function(obj){
                obj.preview(function(index, file, result){
                    var cos_act = new cos_init(config);
                    cos_act.uploadFile(file.name, file, function (event, status, info) {
                        if (event == 'progress') { //上传进度回调
                            var percent = parseInt(info.percent * 10000) / 100 + '%';console.log('progress',percent);
                            console.log(percent);
                            console.log(index);
                            $('.img_'+index).find('.img_progress i').css({'width':percent});
                        } else if (event == 'done') { //上传完成回调
                            console.log('done', status, info);
                            if (status) {
                                var signUrl = res.Location ? 'https://'+res.Location : '';
                            }

                        }
                    });

                });
                return false;
            }
            ,error: function(){
                //请求异常回调
               // console.log('请求异常回调');
            }
        });

        //多图片上传
        upload.render({
            elem: '#upload-more'
            ,url: '/upload/'
            ,multiple: true
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#upload-more-list').append('<img src="'+ result +'" alt="'+ file.name +'" class="layui-upload-img">')
                });
            }
            ,done: function(res){
                //上传完毕
            }
        });

        //多文件列表示例
        var demoListView = $('#test-upload-demoList')
            ,uploadListIns = upload.render({
            elem: '#upload-testList'
            ,url: '/upload/'
            ,accept: 'file'
            ,multiple: true
            ,auto: false
            ,bindAction: '#upload-testListAction'
            ,choose: function(obj){
                var files = this.files = obj.pushFile(); //将每次选择的文件追加到文件队列
                //读取本地文件
                obj.preview(function(index, file, result){
                    var tr = $(['<tr id="upload-'+ index +'">'
                        ,'<td>'+ file.name +'</td>'
                        ,'<td>'+ (file.size/1014).toFixed(1) +'kb</td>'
                        ,'<td>等待上传</td>'
                        ,'<td>'
                        ,'<button class="layui-btn layui-btn-mini test-upload-demo-reload layui-hide">重传</button>'
                        ,'<button class="layui-btn layui-btn-mini layui-btn-danger test-upload-demo-delete">删除</button>'
                        ,'</td>'
                        ,'</tr>'].join(''));

                    //单个重传
                    tr.find('.test-upload-demo-reload').on('click', function(){
                        obj.upload(index, file);
                    });

                    //删除
                    tr.find('.test-upload-demo-delete').on('click', function(){
                        delete files[index]; //删除对应的文件
                        tr.remove();
                        uploadListIns.config.elem.next()[0].value = ''; //清空 input file 值，以免删除后出现同名文件不可选
                    });

                    demoListView.append(tr);
                });
            }
            ,done: function(res, index, upload){
                if(res.code == 0){ //上传成功
                    var tr = demoListView.find('tr#upload-'+ index)
                        ,tds = tr.children();
                    tds.eq(2).html('<span style="color: #5FB878;">上传成功</span>');
                    tds.eq(3).html(''); //清空操作
                    return delete this.files[index]; //删除文件队列已经上传成功的文件
                }
                this.error(index, upload);
            }
            ,error: function(index, upload){
                var tr = demoListView.find('tr#upload-'+ index)
                    ,tds = tr.children();
                tds.eq(2).html('<span style="color: #FF5722;">上传失败</span>');
                tds.eq(3).find('.test-upload-demo-reload').removeClass('layui-hide'); //显示重传
            }
        });

    });

</script>
</body>
</html>
